:root{
    --color-primary: #505EF4;
    --color-dark-primary: #202991;
    --color-light-primary: #868fee;
    --color-secondary: #FBFBFD;
    --color-terciary:#3981cf;
    --color-dark:black;
    --color-light: white;
	--color-grey-soft-light:#e7e7e9;
	--color-grey-strong-light:#dfdfdf;
	--color-grey-soft-dark:#d8d8da;
	--color-grey-strong-dark:#c0c0c4;

	--size-gap:25px;
    --font-primary: "lato";
    --font-secondary:"sans-serif";
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.fulWidthArticle{
	width: 100%;
	display: flex;
	flex-direction: column;	
	justify-content: center;    
	text-align: center;
}

.fulWidthArticleImgLeft{
	width: 100%;
	display: flex;
	flex-direction: row;	
	justify-content: center;    
	text-align: center;
}

.GridSection{
	width: 100%;
	display: grid;
	grid-template-columns:repeat(2,  2fr);
	background-color: var(--color-light);
	column-gap: var(--size-gap);
	row-gap: var(--size-gap);
	padding: var(--size-gap);
	
}

.darkSection{
	background-color:var(--color-dark);
	color:var(--color-light);
}
.lightSection{
	background-color:var(--color-light);
	color:var(--color-dark);
}

.gridCenter{
	justify-self: center;
	text-align: center;
	width: 100%;
}

.backGroundSoftLight{
    background-color:var(--color-grey-soft-light);
}

.backGroundStrongLight{
	background-color: var(--color-grey-strong-light);
}

.backGroundSoftDark{
    background-color:var(--color-grey-soft-dark);
}
.backGroundStrongDark{
	background-color: var(--color-grey-strong-dark);
}

h2{
	font-size: 45px;
	margin: 50px 0 50px 0;
}

img{
	width: 50vw;
	display: block;
	margin: auto;
	object-fit: cover;
}
p, span{
	font-size: 15px;
	font-weight: 500;
	padding: auto;
}

.imgG{
	filter: blur();
	width: 25vw;
	margin-bottom: 25px;
	height: 300px;
	object-fit: cover;
}

button{
    background-color: rgba(0, 0, 0, 0.062);
    height: 50px;
    width:100px;
    border-radius: 5px;
    color: var(--color-terciary);
	font-size: 15px;
	font-weight: 500;
	margin: 20px 10px 20px 10px;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--color-terciary);
  transform: translateY(-0.25em);
}

#sectionImageVR{
	padding: 50px 0 20px 0;
}

#imageVR{
	width: 35vw;
}

#sectionTicketPoint{
	background-color: #3981cf;
}

#imageTicketPoint{
	height: 300px;
	width: 150px;
	object-fit: cover;
	margin-bottom: 25px;
} 

.fadeInText {
	animation: fadeIn 6s;
  }
  
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  

@media screen and (max-width: 990px) {
	.GridSection{
		width: 100%;
		display: flex;
		flex-direction: column;	
		justify-content: center;    
		text-align: center;
	}

	.imgG{
		filter: blur();
		width: 45vw;
		margin-bottom: 25px;
		height: 150px;
		object-fit: cover;
	}

	button{
		height: 30px;
		width:70px;
		font-size: 10px;	
	}	
  }